.node {
    position: absolute;
    background: #cdcdcd;
    overflow: hidden;
        
    &.minimized {
        width: 30px;
        height: 30px;
    }

    .content {
        box-sizing: border-box;
        cursor:grab;
    }

    .scroll-box {
        overflow-y: scroll;
        height: calc(100% - 40px);
    }
}