.node {
    position: absolute;
    background-color: #1e1e1e;
    overflow: hidden;
    border-radius: 8px;
        
    &.minimized {
        width: 30px;
        height: 30px;
    }

    .content {
        box-sizing: border-box;
        margin: 20px;
    }

    .title {
        padding: 10px;
        color: rgb(255, 255, 255)
    }

    .scroll-box {
        overflow-y: scroll;
        height: calc(100% - 40px);
    }
}