.node {
    &.textNode {
        background: rgb(232, 155, 167);
        height: 100%;

        .ck-toolbar {
            background-color: rgb(203, 121, 140);
          }

        .ck-editor__editable {
            height: 125px; 
            flex-grow: 1;
            color: rgb(184, 91, 114);
          }
    }
}

